---
import VarslerData from "./VarslerData";
import { getLanguage } from "../../../language/language";
import { varslerUrl } from "./varslerUrls";
import style from "./Varsler.module.css";

const language = getLanguage(Astro.url);
---

<a href={varslerUrl} class={style.varsler}>
  <VarslerData language={language} client:only="react" />
</a>
