.varsler {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem;
  color: var(--a-white);
  border-radius: 0.5rem;
  text-decoration-line: none;
  min-height: 5rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.varsler-ikon {
  flex-shrink: 0;
}

.varsler:hover .varsler-ikon-rect {
  fill: var(--a-orange-400);
}

.varsler:hover .ingen-ikon-rect {
  fill: var(--a-white);
}

.varsler:hover .ingen-ikon-path {
  fill: var(--a-deepblue-800);
}

.varsler:hover {
  background: var(--a-deepblue-700);
}

.varsler:hover h3 {
  text-decoration-line: underline;
  text-decoration-thickness: 0.06rem;
}

.varsler p {
  color: var(--a-deepblue-100);
}

.varsler:hover p {
  color: var(--a-white);
}

@media (min-width: 480px) {
  .varsler {
    width: 50%;
    padding: 1rem;
  }
}
