
.header {
  color: var(--a-text-default);
  background: var(--a-bg-subtle);
  padding: 1rem 1rem 0.75rem 1rem;
  border-radius: 0.5rem 0.5rem 0.125rem 0.125rem;
  margin-bottom: 0.125rem;
}

.content {
  color: var(--a-text-subtle);
  background: var(--a-bg-subtle);
  padding: 1.25rem 1rem 1.25rem 1.25rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.text {
  padding-bottom: 2.25rem;
}

@media (min-width: 648px) {

  .header {
    padding: 1rem 1.25rem 0.75rem 1.25rem;
  }
}
