.utkast {
  color: white;
  display: flex;
  width: 100%;
  padding: 0.5rem;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  background: var(--surface-transparent, rgba(255, 255, 255, 0.00));
  text-decoration-line: none;
}

.container {
  display: flex;
  flex-direction: column;
}

.utkast:hover {
  margin: 0;
  background: var(--a-deepblue-700, #003453);
}

.utkast:hover rect {
  fill: #3386E0;
}

.utkast:hover h3 {
  text-decoration-line: underline;
  text-decoration-thickness: 0.06rem;
}

.utkast p {
  color: #CCE2F0;
}

.utkast:hover p {
  color: #FFFFFF;
}

@media (min-width: 480px) {
  .utkast {
    width: 50%;
    padding: 1rem;
  }
}
