---
import PersonaliaData from "./PersonaliaData";
import { getLanguage } from "@language/language";
import { text } from "@language/personalia";
import style from "./Personalia.module.css";

const language = getLanguage(Astro.url);
---

<div class={style.container}>
  <h2 class={`${style.tekst} navds-heading navds-heading--large`}>
    <span>{text.hilsen[language]}</span> <PersonaliaData client:only="react" />
  </h2>
</div>


