---
import Varsler from "./varsler/Varsler";
import Utkast from "./utkast/Utkast";
import { getLanguage } from "../../language/language";
import style from "./AlertIsland.module.css";

const language = getLanguage(Astro.url);
---

<div class={style.container}>
  <Varsler language={language} client:only="react" />
  <Utkast language={language} client:only="react" />
</div>
